# Data and notebooks
data/
notebooks/

# Logging files
*.log

# IDEs
.idea/
.vscode/

# uv / virtual env
.venv/

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Package metadata
*.egg-info/
dist/
build/

# Misc
.DS_Store
.qodo
